@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap);





body {
  font-family: Lato;
}
.display-1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}
.display-1 > .mbr-iconfont {
  font-size: 4rem;
}
.display-2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}
.display-2 > .mbr-iconfont {
  font-size: 3.2rem;
}
.display-4 {
  font-family: 'Lato', sans-serif;
  font-size: 0.9rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.44rem;
}
.display-5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.76rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.72rem;
    font-size: calc( 0.965rem + (0.9 - 0.965) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.965rem + (0.9 - 0.965) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 10px 15px;
  border-radius: 0px;
}
.btn-sm {
  padding: 5px 10px;
  border-radius: 0px;
}
.btn-md {
  padding: 10px 15px;
  border-radius: 0px;
}
.btn-lg {
  padding: 20px 20px;
  border-radius: 0px;
}
.bg-primary {
  background-color: #ffbd3c !important;
}
.bg-success {
  background-color: #7242d6 !important;
}
.bg-info {
  background-color: #ffbd3c !important;
}
.bg-warning {
  background-color: #48d678 !important;
}
.bg-danger {
  background-color: #656565 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #ffbd3c !important;
  border-color: #ffbd3c !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #ef9e00 !important;
  border-color: #ef9e00 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #ef9e00 !important;
  border-color: #ef9e00 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #00225d !important;
  border-color: #00225d !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #000610 !important;
  border-color: #000610 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #000610 !important;
  border-color: #000610 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #ffbd3c !important;
  border-color: #ffbd3c !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #ef9e00 !important;
  border-color: #ef9e00 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #ef9e00 !important;
  border-color: #ef9e00 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #7242d6 !important;
  border-color: #7242d6 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff !important;
  background-color: #4f24a7 !important;
  border-color: #4f24a7 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #4f24a7 !important;
  border-color: #4f24a7 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #48d678 !important;
  border-color: #48d678 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff !important;
  background-color: #26ab53 !important;
  border-color: #26ab53 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #26ab53 !important;
  border-color: #26ab53 !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #656565 !important;
  border-color: #656565 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff !important;
  background-color: #3f3f3f !important;
  border-color: #3f3f3f !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #3f3f3f !important;
  border-color: #3f3f3f !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #d58d00;
  color: #d58d00;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  background-color: #ffbd3c;
  border-color: #ffbd3c;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ffbd3c !important;
  border-color: #ffbd3c !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #00225d;
  border-color: #00225d;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #00225d !important;
  border-color: #00225d !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #d58d00;
  color: #d58d00;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #ffbd3c;
  border-color: #ffbd3c;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #ffbd3c !important;
  border-color: #ffbd3c !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #452092;
  color: #452092;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff;
  background-color: #7242d6;
  border-color: #7242d6;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #7242d6 !important;
  border-color: #7242d6 !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #229649;
  color: #229649;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff;
  background-color: #48d678;
  border-color: #48d678;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #48d678 !important;
  border-color: #48d678 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #323232;
  color: #323232;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff;
  background-color: #656565;
  border-color: #656565;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #656565 !important;
  border-color: #656565 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #ffbd3c !important;
}
.text-secondary {
  color: #00225d !important;
}
.text-success {
  color: #7242d6 !important;
}
.text-info {
  color: #ffbd3c !important;
}
.text-warning {
  color: #48d678 !important;
}
.text-danger {
  color: #656565 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #d58d00 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #000000 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #452092 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #d58d00 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #229649 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #323232 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ffbd3c;
}
.alert-warning {
  background-color: #48d678;
}
.alert-danger {
  background-color: #656565;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ffbd3c;
  border-color: #ffbd3c;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #ffbd3c;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #efeafa;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #effbf3;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #a5a5a5;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.76rem;
}
blockquote {
  border-color: #ffbd3c;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary-outline-2 {
  border: none;
  color: #ffbd3c;
}
.btn-primary-outline-2 .mbr-iconfont-btn {
  -webkit-order: 1;
  order: 1;
  transition: all 0.3s;
  margin-left: 5px;
  font-size: 1rem !important;
}
.btn-primary-outline-2:hover {
  background-color: inherit;
  color: #ffbd3c;
}
.btn-primary-outline-2:focus {
  background-color: inherit;
  color: #ffbd3c;
}
.btn-primary-outline-2:active {
  background-color: inherit;
  color: #ffbd3c;
}
.btn-primary-outline-2:hover .mbr-iconfont-btn {
  margin-left: 8px;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ffbd3c;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-number__spin {
  background: none;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ffbd3c;
  border-bottom-color: #ffbd3c;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #ffbd3c !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #00225d !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ffbd3c' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-sA4sTlYiZu {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-sA4sTlYiZu nav.navbar {
  position: fixed;
}
.cid-sA4sTlYiZu .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sA4sTlYiZu .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sA4sTlYiZu .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sA4sTlYiZu .dropdown-item:hover,
.cid-sA4sTlYiZu .dropdown-item:focus {
  background: #ffbd3c !important;
  color: white !important;
}
.cid-sA4sTlYiZu .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sA4sTlYiZu .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sA4sTlYiZu .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sA4sTlYiZu .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sA4sTlYiZu .nav-link {
  position: relative;
}
.cid-sA4sTlYiZu .container {
  display: flex;
  margin: auto;
}
.cid-sA4sTlYiZu .iconfont-wrapper {
  color: #ffffff !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sA4sTlYiZu .dropdown-menu,
.cid-sA4sTlYiZu .navbar.opened {
  background: #00225d !important;
}
.cid-sA4sTlYiZu .nav-item:focus,
.cid-sA4sTlYiZu .nav-link:focus {
  outline: none;
}
.cid-sA4sTlYiZu .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sA4sTlYiZu .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sA4sTlYiZu .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sA4sTlYiZu .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sA4sTlYiZu .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sA4sTlYiZu .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sA4sTlYiZu .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #00225d;
  color: #ffffff;
}
.cid-sA4sTlYiZu .navbar.opened {
  transition: all 0.3s;
}
.cid-sA4sTlYiZu .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sA4sTlYiZu .navbar .navbar-logo img {
  width: auto;
}
.cid-sA4sTlYiZu .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sA4sTlYiZu .navbar.collapsed {
  justify-content: center;
}
.cid-sA4sTlYiZu .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sA4sTlYiZu .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sA4sTlYiZu .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 4rem);
  }
}
.cid-sA4sTlYiZu .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sA4sTlYiZu .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sA4sTlYiZu .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sA4sTlYiZu .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sA4sTlYiZu .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sA4sTlYiZu .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sA4sTlYiZu .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sA4sTlYiZu .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sA4sTlYiZu .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sA4sTlYiZu .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sA4sTlYiZu .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sA4sTlYiZu .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sA4sTlYiZu .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sA4sTlYiZu .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sA4sTlYiZu .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sA4sTlYiZu .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sA4sTlYiZu .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sA4sTlYiZu .navbar.navbar-short {
  min-height: 60px;
}
.cid-sA4sTlYiZu .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sA4sTlYiZu .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sA4sTlYiZu .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
  display: flex;
}
.cid-sA4sTlYiZu .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sA4sTlYiZu .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sA4sTlYiZu .dropdown-item.active,
.cid-sA4sTlYiZu .dropdown-item:active {
  background-color: transparent;
}
.cid-sA4sTlYiZu .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sA4sTlYiZu .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sA4sTlYiZu .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sA4sTlYiZu .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #00225d;
}
.cid-sA4sTlYiZu .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sA4sTlYiZu .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sA4sTlYiZu ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sA4sTlYiZu .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sA4sTlYiZu button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sA4sTlYiZu button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-sA4sTlYiZu button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sA4sTlYiZu button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sA4sTlYiZu button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sA4sTlYiZu button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sA4sTlYiZu nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sA4sTlYiZu nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sA4sTlYiZu nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sA4sTlYiZu nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sA4sTlYiZu .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sA4sTlYiZu a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sA4sTlYiZu .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sA4sTlYiZu .navbar {
    height: 70px;
  }
  .cid-sA4sTlYiZu .navbar.opened {
    height: auto;
  }
  .cid-sA4sTlYiZu .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
@media (max-width: 600px) {
  .cid-sA4sTlYiZu .navbar-caption {
    display: none;
  }
  .cid-sA4sTlYiZu img {
    display: none;
  }
}
.cid-sA4uX3djsU {
  padding-top: 8rem;
  padding-bottom: 0rem;
  background-image: url("../../../assets/images/header-2-1431x420.png");
}
.cid-sA4uX3djsU .mbr-overlay {
  background: #6b3df0;
  background: linear-gradient(to right, #6b3df0, #5e2ced);
}
.cid-sA4uX3djsU .title_block {
  margin-bottom: 50px;
}
.cid-sA4uX3djsU .mbr-section-subtitle {
  letter-spacing: 1.6px;
  margin-bottom: 16px;
  line-height: 1;
  font-weight: 600;
}
.cid-sA4uX3djsU .mbr-section-title {
  margin-bottom: 36px;
}
.cid-sA4uX3djsU .mbr-text {
  margin-bottom: 30px;
}
.cid-sA4uX3djsU .mbr-section-btn .btn-white {
  color: #ffbd3c !important;
}
.cid-sA4uX3djsU .mbr-section-btn .btn-white:before {
  background: #ffbd3c !important;
}
.cid-sA4uX3djsU .mbr-section-btn .btn-white:hover {
  border-color: #fff !important;
  color: #fff !important;
}
.cid-sA4uX3djsU .mbr-section-btn .btn-white:hover::before {
  background: #ffbd3c !important;
}
.cid-sA4uX3djsU .mbr-section-btn .btn-white-outline:hover {
  color: #ffbd3c !important;
}
.cid-sA4uX3djsU .mbr-section-btn .mbr-iconfont {
  order: 0;
  margin-right: 4px;
  margin-bottom: 2px;
  font-size: 16px;
}
.cid-sA4uX3djsU .image_block {
  width: 460px;
  margin: 0 auto;
}
.cid-sA4uX3djsU .image_block img {
  width: 100%;
  object-fit: cover;
}
@media (max-width: 991px) {
  .cid-sA4uX3djsU .title_block {
    text-align: center;
  }
  .cid-sA4uX3djsU .image_block {
    margin-bottom: 40px;
    width: auto;
    max-width: 370px;
  }
  .cid-sA4uX3djsU .mbr-section-title {
    margin-bottom: 20px;
  }
  .cid-sA4uX3djsU .btn {
    padding: 14px 26px;
  }
}
.cid-sA4vR28ojl {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-sA4vR28ojl .content-wrapper {
  background: #ffffff;
}
@media (max-width: 991px) {
  .cid-sA4vR28ojl .content-wrapper .image-wrapper {
    margin-bottom: 0 !important;
  }
  .cid-sA4vR28ojl .content-wrapper .image-wrapper.reverse {
    margin-bottom: 2rem !important;
  }
}
@media (max-width: 767px) {
  .cid-sA4vR28ojl .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sA4vR28ojl .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sA4vR28ojl .content-wrapper {
    padding: 4rem 4rem;
  }
  .cid-sA4vR28ojl .content-wrapper .order-2 .text-wrapper {
    padding-left: 6.4rem;
    padding-right: 0;
  }
  .cid-sA4vR28ojl .content-wrapper .text-wrapper {
    padding-right: 6.4rem;
  }
}
.cid-sA4vR28ojl .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sA4vR28ojl .card-title {
  margin-bottom: 1.88rem !important;
  color: #1d1e22;
}
.cid-sA4vR28ojl .mbr-text,
.cid-sA4vR28ojl .mbr-section-btn {
  color: #1d1e22;
}
.cid-sA4yC8ej56 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffbd3c;
}
.cid-sA4yC8ej56 .mbr-iconfont {
  color: #8d97ad;
}
.cid-sA4yC8ej56 .mbr-iconfont:hover {
  color: #188ef4 !important;
}
.cid-sA4yC8ej56 .mbr-text {
  margin: 1.5rem 0;
  color: #8d97ad;
}
.cid-sA4yC8ej56 .mbr-section-subtitle {
  color: #ffffff;
  text-align: left;
}
.cid-sA4yC8ej56 .card-img {
  margin-bottom: 2rem;
  width: 200px;
  height: 200px;
  margin: 0 auto 2rem auto;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}
.cid-sA4yC8ej56 .img-icon {
  width: 100%;
  height: auto;
}
@media (min-width: 992px) {
  .cid-sA4yC8ej56 .my-col {
    -webkit-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    padding: 15px;
  }
}
.cid-sA4yC8ej56 .mbr-section-title {
  text-align: left;
}
.cid-sA4W4klCMT {
  padding-top: 75px;
  padding-bottom: 75px;
  background-image: url("../../../assets/images/bg-1405x599.png");
}
.cid-sA4W4klCMT .list-group-item {
  padding: 0.5rem 3.25rem;
}
.cid-sA4W4klCMT h4 {
  margin: 0;
}
.cid-sA4W4klCMT .btn-text {
  margin: 0.3rem;
  margin-bottom: 2rem;
  padding: 0.6rem 2rem !important;
}
.cid-sA4W4klCMT .line {
  width: 35px;
  height: 3px;
  display: inline-block;
  background: #f9b03e;
  transition: background 0.3s;
  margin-bottom: 1.5rem;
}
.cid-sA4W4klCMT .btn-sm {
  padding: 0.6rem 4.4rem;
}
.cid-sA4W4klCMT .plan-body {
  padding-bottom: 2rem;
}
.cid-sA4W4klCMT .plan-header {
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-sA4W4klCMT .line1 {
  background: #ffbd3c;
}
.cid-sA4W4klCMT .line2 {
  background: #255085;
}
.cid-sA4W4klCMT .plan-wrapper {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}
.cid-sA4W4klCMT .plan {
  word-break: break-word;
  position: relative;
}
.cid-sA4W4klCMT .plan .list-group-item {
  position: relative;
  -webkit-justify-content: center;
  justify-content: center;
  border: 0;
}
.cid-sA4W4klCMT .plan .list-group-item::after {
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 60%;
  height: 2px;
  content: '';
  background-color: #eaeaea;
}
.cid-sA4W4klCMT .plan .list-group-item:last-child::after {
  display: none;
}
.cid-sA4W4klCMT .plan-header,
.cid-sA4W4klCMT .plan-body {
  background-color: #fff;
}
.cid-sA4W4klCMT .price-figure {
  font-weight: 700;
}
.cid-sA4W4klCMT .price-value {
  font-weight: 700;
  vertical-align: top;
}
@media (max-width: 767px) {
  .cid-sA4W4klCMT .md-pb {
    margin-bottom: 2rem;
  }
  .cid-sA4W4klCMT .price-figure {
    font-size: 3rem;
  }
}
.cid-sA4W4klCMT .color1 {
  color: #ffbd3c;
}
.cid-sA4W4klCMT .color2 {
  color: #00225d;
}
.cid-sA4W4klCMT LI {
  color: #767676;
}
.cid-sA4W4klCMT .price-term {
  color: #767676;
}
.cid-sA4W4klCMT .mbr-text,
.cid-sA4W4klCMT .mbr-section-btn {
  color: #ebeced;
}
.cid-sA4A88E9Pu {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: #ffffff;
}
.cid-sA4A88E9Pu .mbr-section-title {
  color: #ffbd3c;
}
.cid-sA4A88E9Pu .mbr-section-subtitle {
  color: #000000;
}
@media (max-width: 992px) {
  .cid-sA4A88E9Pu .align-left {
    text-align: center;
  }
}
.cid-sA4A88E9Pu .row {
  transition: all 0.3s;
  margin: 0;
  padding: 4rem 2rem;
  border-radius: 3rem;
  box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #ffffff;
}
@media (max-width: 767px) {
  .cid-sA4A88E9Pu .row {
    padding: 3rem 2rem;
  }
}
.cid-sA4SEjuiW4 {
  padding-top: 45px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-sA4SEjuiW4 .mbr-section-subtitle {
  color: #767676;
}
.cid-sA4SEjuiW4 .mbr-section-title {
  color: #000000;
  text-align: left;
}
.cid-sA4sEzpHsD {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-sA4sEzpHsD .mbr-section-title {
  letter-spacing: 0.1em;
  color: #444444;
  margin-bottom: 2rem;
}
.cid-sA4sEzpHsD .mbr-section-subtitle {
  color: #444444;
  margin-bottom: 2rem;
  letter-spacing: 0.03em;
}
.cid-sA4sEzpHsD .list-img {
  width: 100px;
}
.cid-sA4sEzpHsD .ico2 {
  color: #656565;
  font-size: 1.2rem;
}
.cid-sA4sEzpHsD .btn {
  margin: 0px !important;
}
.cid-sA4sEzpHsD .text-box {
  padding: 1rem;
}
.cid-sA4sEzpHsD .text-box p {
  margin: 0;
}
.cid-sA4sEzpHsD .ico-box {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  padding: 0px;
}
.cid-sA4sEzpHsD .ico-box p {
  margin: 0;
}
.cid-sA4sEzpHsD .second-col {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-sA4sEzpHsD .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-sA4sEzpHsD .carousel-item .media-container-row {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.cid-sA4sEzpHsD .carousel-item .wrap-img {
  text-align: center;
}
.cid-sA4sEzpHsD .carousel-item .wrap-img img {
  width: auto;
  max-width: 100%;
}
.cid-sA4sEzpHsD .carousel {
  display: flex;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
  width: 100%;
}
.cid-sA4sEzpHsD .carousel-indicators {
  display: block;
  position: relative;
  margin-top: 1rem;
  margin-right: 0;
  margin-left: 0;
  text-align: center;
}
.cid-sA4sEzpHsD .carousel-indicators li {
  display: inline-block;
}
.cid-sA4sEzpHsD .carousel-indicators li {
  max-width: 15%;
  max-height: 120px;
  width: 15%;
  height: 120px;
  border-radius: 0;
  opacity: 1;
  background-size: cover;
  border: none;
}
.cid-sA4sEzpHsD .carousel-indicators li.active {
  border: 0px;
}
.cid-sA4sEzpHsD .li1 {
  background-image: url("../../../assets/images/01.jpg");
}
.cid-sA4sEzpHsD .li2 {
  background-image: url("../../../assets/images/02.jpg");
}
.cid-sA4sEzpHsD .li3 {
  background-image: url("../../../assets/images/03.jpg");
}
.cid-sA4sEzpHsD .li4 {
  background-image: url("../../../assets/images/01.jpg");
}
.cid-sA4sEzpHsD .li5 {
  background-image: url("../../../assets/images/02.jpg");
}
.cid-sA4sEzpHsD .li6 {
  background-image: url("../../../assets/images/03.jpg");
}
@media (max-width: 992px) {
  .cid-sA4sEzpHsD .carousel-indicators li {
    max-width: 30%;
    max-height: 120px;
    width: 30%;
    height: 120px;
  }
}
@media (max-width: 576px) {
  .cid-sA4sEzpHsD .carousel-indicators li {
    max-width: 30%;
    max-height: 80px;
    width: 30%;
    height: 80px;
  }
}
.cid-sA4sEzpHsD .card-title2 {
  color: #274abb;
}
.cid-sA4sEzpHsD .sq {
  color: #656565;
}
.cid-sA4sEzpHsD .item {
  color: #656565;
}
.cid-sA5gCs7cvn {
  padding-top: 60px;
  padding-bottom: 105px;
  overflow: hidden;
  background-color: #ffffff;
}
.cid-sA5gCs7cvn .badge {
  display: inline-block;
  border-radius: 10rem;
  padding: 8px 14px 6px 14px;
  color: #ffbd3c;
  background-color: rgba(0, 0, 0, 0.15);
}
.cid-sA5gCs7cvn .badge.display-4 {
  font-size: 11px;
  line-height: 1.81;
  letter-spacing: 0.5px;
}
.cid-sA5gCs7cvn .mbr-section-title {
  color: #404040;
}
.cid-sA5gCs7cvn .mbr-section-subtitle {
  color: #ffbd3c;
  font-weight: 600;
}
.cid-sA5gCs7cvn .main-text {
  color: #606060;
}
.cid-sA5gCs7cvn .carousel {
  z-index: 2;
  position: relative;
}
.cid-sA5gCs7cvn .user {
  padding: 0 !important;
}
.cid-sA5gCs7cvn .mbr-iconfont {
  font-family: Moririse2 !important;
}
.cid-sA5gCs7cvn .carousel-item.active,
.cid-sA5gCs7cvn .carousel-item-next,
.cid-sA5gCs7cvn .carousel-item-prev {
  display: flex;
}
.cid-sA5gCs7cvn .details {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  text-align: left;
  margin-bottom: 20px;
  justify-content: center;
}
.cid-sA5gCs7cvn .details .img-wrapper img {
  width: 70px;
  max-width: 100%;
  border-radius: 100%;
}
.cid-sA5gCs7cvn .details .info {
  padding-left: 20px;
}
.cid-sA5gCs7cvn .details .info .user_name {
  margin: 0;
}
.cid-sA5gCs7cvn .details .info .user_name.display-7 {
  font-size: 18px;
  line-height: 1.3;
}
.cid-sA5gCs7cvn .details .info .user_status {
  color: #ffbd3c;
  margin-bottom: 0;
}
.cid-sA5gCs7cvn .details .info .user_status.display-4 {
  line-height: 1.3125;
}
.cid-sA5gCs7cvn .carousel-controls a {
  font-size: 2rem;
}
.cid-sA5gCs7cvn .carousel-controls a span {
  position: absolute;
  transition: opacity 0.3s;
  top: 70px;
  padding: 10px;
  border-radius: 50%;
  color: #232323;
  background: transparent;
  opacity: 0.5;
}
.cid-sA5gCs7cvn .carousel-controls a:hover span {
  opacity: 1;
  cursor: pointer;
}
.cid-sA5gCs7cvn ol {
  margin-bottom: 0;
  bottom: -3rem;
}
.cid-sA5gCs7cvn .carousel-indicators li {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  transition: opacity 0.5s;
  background-color: rgba(153, 153, 153, 0.8);
  font-size: 2rem;
  border-width: 0px;
  transform: scale(0.6);
  margin: 6px;
}
.cid-sA5gCs7cvn .carousel-indicators li:hover {
  opacity: 1;
}
.cid-sA5gCs7cvn .carousel-indicators .active {
  transform: scale(1);
  border: 0;
  background-color: rgba(153, 153, 153, 0.8);
  transition: all 200ms ease-in-out;
}
.cid-sA5gCs7cvn .user_text {
  color: #707070;
  text-align: left;
}
.cid-sA5gCs7cvn .user_text p.display-5 {
  line-height: 1.54;
}
.cid-sA5gCs7cvn .user_desk {
  color: #767676;
}
.cid-sA5gCs7cvn .user_desk,
.cid-sA5gCs7cvn .carousel-item {
  text-align: left;
}
.cid-sA5gCs7cvn .carousel-item {
  padding-right: 20px;
}
.cid-sA5gCs7cvn .carousel-indicators {
  margin: 0;
  margin-left: 0.1rem;
  justify-content: center !important;
}
@media (max-width: 767px) {
  .cid-sA5gCs7cvn .carousel-indicators {
    margin: auto;
    justify-content: center !important;
  }
}
.cid-sA5gCs7cvn .carousel-control-next {
  right: -30px;
  transform: translateX(50%);
}
.cid-sA5gCs7cvn .carousel-control-prev {
  left: -20px;
  transform: translateX(-50%);
}
.cid-sA5gCs7cvn .carousel-item .user .details .info .user_status {
  color: #ffbd3c;
}
.cid-rzN0s6n1UA {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/bg-1405x599.png");
}
.cid-rzN0s6n1UA .card-img span {
  color: #ffffff;
  font-size: 3rem;
}
.cid-rzN0s6n1UA .mbr-text {
  color: #ffffff;
}
.cid-rzN0s6n1UA .border-r {
  border-right: 1px solid #ffbd3c;
}
.cid-rzN0s6n1UA p {
  margin: 0;
}
@media (max-width: 991px) {
  .cid-rzN0s6n1UA .border-r {
    border-right: 0px solid #ffbd3c;
  }
}
@media (max-width: 576px) {
  .cid-rzN0s6n1UA .card {
    margin-bottom: 2rem;
  }
}
.cid-sA4V0ahMmz {
  padding-top: 45px;
  padding-bottom: 30px;
  background-color: #00225d;
}
.cid-sA4V0ahMmz .mbr-section-subtitle {
  color: #767676;
}
.cid-sA4V0ahMmz .mbr-section-title {
  color: #ffbd3c;
  text-align: center;
}
.cid-sA4U3NRW2K {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #00225d;
}
@media (max-width: 991px) {
  .cid-sA4U3NRW2K .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sA4U3NRW2K .row {
  flex-direction: row-reverse;
}
.cid-sA4U3NRW2K img {
  width: 100%;
}
.cid-sA4U5AcGhL {
  padding-top: 1rem;
  padding-bottom: 2rem;
  background-color: #00225d;
}
.cid-sA4U5AcGhL .mbr-section-title {
  margin-top: 30px;
  margin-bottom: 0;
  color: #000000;
}
.cid-sA4U5AcGhL .mbr-text {
  margin-top: 20px;
  margin-bottom: 0;
  color: #919dab;
  margin-top: 30px;
}
.cid-sA4U5AcGhL .mbr-section-btn {
  margin-top: 45px;
}
.cid-sA4U5AcGhL .mbr-section-btn .btn {
  height: 60px;
  font-weight: 500;
}
.cid-sA4U5AcGhL img {
  width: 100px;
  height: 100px;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .cid-sA4U5AcGhL .mbr-section-btn {
    margin-top: 30px;
  }
  .cid-sA4U5AcGhL .mbr-section-btn .btn {
    height: 50px;
  }
  .cid-sA4U5AcGhL .mbr-text {
    margin-top: 10px;
  }
}
.cid-rzN0WvhArw {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #00225d;
}
.cid-rzN0WvhArw .links {
  text-align: center;
  color: #ffffff;
}
.cid-rzN0WvhArw p {
  margin: 0;
}
